@import '/helpers/vendor';

.s-about {
  font-family: 'Raleway', sans-serif;
  .transition(all .3s);
  .about-top-img {
    background-image: url("http://az758984.vo.msecnd.net/cdn/bg3.jpg");
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 250px;
  }
  .about-mugshot {
    margin: -75px auto 0px;
    background-image: url("http://az758984.vo.msecnd.net/cdn/Andrew.jpg");
    background-size: 150%;
    background-position: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }
  .s-about-title {
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
  }
  .s-about-body {
    font-size: 16px;
    margin-top: 20px;
  }
  .social-media {
    text-align: center;
    .padding-start(0px);
  }
  .social-media li {
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    background: #2e2e2e;
  }
  .social-media li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
  }
  &.slide-out {
    margin-left: 1000px;
  }
}
