body {
  overflow-x: hidden;
}

.row {
  margin-right: 0px;
  padding-right: 0px;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #fff;
  margin-bottom: 1.5px;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 0px;
  font-weight: 400;
  &.navbar-color {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }
  .navbar-brand {
    color: black;
    font-weight: 700;
    opacity: 1;
  }
  li {
    a {
      color: gray;
      &:hover {
        color: red;
        background-color: #fff;
      }
    }
  }
}
.navbar-toggle {
  border: 1px solid black;
  border-radius: 3px;
  .icon-bar {
    background: black;
  }
}
