@import "/helpers/vendor";

.s-home {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  .grad(#a7cfdf, #23538a);
  .s-home-title {
    margin-top: 25%;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
  }
}
