@import './helpers/vendor';

.s-about-portfolio {
  font-family: 'Raleway', sans-serif;
  background: url(/img/portfolio-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 70px;
  margin-left: 2500px;
  .transition(all .6s);
  min-height: 100vh;
  &.component-loaded {
    margin-left: 0px;
  }
  .s-about-portfolio-title {
    margin-top: 75px;
    font-family: 'Oswald', sans-serif;
    padding: 50px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    @media only screen and (max-width: 727px) {
      padding: 50px 0px 0px 0px;
    }
  }
  .s-about-portfolio-piece {
    text-align: center;
    margin-bottom: 20px;
    .s-about-portfolio-window {
      display: inline-block;
      width: 300px;
      height: 150px;
      border: 1px solid gray;
      border-radius: 100px;
      -webkit-box-shadow: inset 0px 1px 13px 5px rgba(0,0,0,0.95);
      -moz-box-shadow: inset 0px 1px 13px 5px rgba(0,0,0,0.95);
      box-shadow: inset 0px 1px 13px 5px rgba(0,0,0,0.95);
      cursor: hand;
      cursor: pointer;
      .transition(all .8s);
      @media only screen and (max-width: 727px) {
        width: 200px;
        height: 100px;
      }
      &#wurl {
        background-image: url('/img/wurl-pic.jpg');
        &:hover {
          width: 350px;
          height: 200px;
        }
      }
      &#chimgur {
        background-image: url('/img/chimgur-pic.png');
        &:hover {
          width: 350px;
          height: 200px;
        }
      }
    }
    .s-about-portfolio-img {
      width: 300px;
      height: 150px;
      @media only screen and (max-width: 727px) {
        width: 200px;
        height: 100px;
      }
    }
  }
}
.portfolio-modal {
  margin-top: 25vh;
  .s-portfolio-icons {
    margin-top: 10px;
    text-align: center;
    .skill-icon {
      display: inline-block;
      margin: 5px;
      height: 40px;
    }
  }
  .modal-title{
    text-align: center;
    .modal-img {
      width: 50px;
    }
    .modal-img-long {
      width: 250px;
    }
  }
}
